NEXT_PUBLIC_MEME_FACTORY_ADDRESS=0x...
NEXT_PUBLIC_MEME_PLATFORM_ADDRESS=0x...
NEXT_PUBLIC_BONDING_CURVE_ADDRESS=0x...
NEXT_PUBLIC_FEE_MANAGER_ADDRESS=0x...
NEXT_PUBLIC_LIQUIDITY_MANAGER_ADDRESS=0x...
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YourKey
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=YourID
NEXT_PUBLIC_NETWORK_RPC=http://127.0.0.1:8545
NEXT_PUBLIC_CHAIN_ID=31337

